.container {
    margin: 0 30px;
}

/* FILTER */
.filter-container {
    display: flex;
    width: 60%;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
    padding-left: 20px;
}

.filter-input {
    height: 30px;
    width: 200px;
    padding: 3px;
    border: 2px solid black;
    font-size: 15px;
    font-weight: bold;
    margin-right: 70px;
}

.filter-price-input {
    height: 39.2px;
    width: 120px;
    padding: 3px;
    border: 2px solid black;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
}

.magnifier {
    background-image: url('../media/images/magnifier.png');
    background-size: cover;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 200px;
    cursor: pointer;
}


/* BOOK LIST */
.book-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.book-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid black;
    padding: 10px;
    margin: 0 10px 40px 10px;
}

.book-image-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px dotted;
}

.book-image {
    width: 180px;
    height: 230px;
}

.book-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-bottom: 20px;
    border-bottom: 1px dotted;
    font-weight: bold;
    color: black;
}

.book-author {
    margin-bottom: 50px;
    height: 30px;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-link {
    background-color: rgb(57, 57, 255);
    padding: 6px 15px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.view-link:hover {
    background-color: rgb(21, 21, 254);
}